body{
    margin: 0;    
    box-sizing: border-box;
    font-family: sans-serif;
    background: crimson;
}
a{
    text-decoration: none;
    color: black;
}
header{
    min-width: 70px;
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;    
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: crimson;
}

@media (max-width: 643px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px; 
    }
}

