*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1b1b1b;
    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .bubbles{
            position: relative;
            display: flex;
            span{
                position: relative;
                min-width: 30px;
                height: 30px;
                background: #fff;
                box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #705afe, 0 0 100px #4fc3dc;
            }
        }
    }
}